body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #eee !important;	
}

.wrapper{
  float: none !important;
  margin: 0 auto !important;
  margin-top:15% !important;
}

.form-login, .section{
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;  
}
.form-login .form-login-heading {
  margin-bottom: 30px;
}

input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@media (min-width: 768px){
  .navbar {
    border-radius: 0px !important;
  }
}

.section{
  margin:10px;
  padding:20px;
  /* text-transform: uppercase; */
}